@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendardvariable.css");

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}
