@import 'tailwindcss';
@theme {
  /* Colors */
  --color-black: #282828;
  --color-white: #ffffff;
  --color-gray-80: #808080;
  --color-gray-60: #7e7e7e;
  --color-gray-40: #a9a9a9;
  --color-gray-20: #e4e4e4;
  --color-gray-10: #f5f5f5;

  --color-neon-d: #8ad201;
  --color-neon-100: #aaeb2f;
  --color-neon-60: #ccf382;
  --color-neon-30: #ddf7ac;
  --color-neon-15: #f2fce0;

  --color-warning-100: #ff3030;
  --color-warning-60: #ff8383;
  --color-warning-30: #ffacac;

  --color-caution-100: #ffe16a;
  --color-caution-60: #ffeda6;
  --color-caution-30: #fff3c3;

  /* Typography */
  --text-display-lg: 2.5rem;
  --text-display-md: 2rem;
  --text-display-sm: 1.75rem;

  --text-heading-lg: 1.5rem;
  --text-heading-md: 1.375rem;
  --text-heading-sm: 1.125rem;

  --text-body-lg: 1.125rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;
  --text-body-xs: 0.75rem;

  --text-caption-lg: 0.875rem;
  --text-caption-md: 0.75rem;
  --text-caption-sm: 0.625rem;
  --text-caption-xs: 0.5rem;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Line height */
  --leading-150: 150%;
}

@layer utilities {
  /* Display */
  .text-display-lg {
    font-size: var(--text-display-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }
  .text-display-md {
    font-size: var(--text-display-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }
  .text-display-sm {
    font-size: var(--text-display-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }

  /* Heading */
  .text-heading-lg {
    font-size: var(--text-heading-lg);
    font-weight: var(--font-weight-semi);
    line-height: var(--leading-150);
  }
  .text-heading-md {
    font-size: var(--text-heading-md);
    font-weight: var(--font-weight-semi);
    line-height: var(--leading-150);
  }
  .text-heading-sm {
    font-size: var(--text-heading-sm);
    font-weight: var(--font-weight-semi);
    line-height: var(--leading-150);
  }

  /* Body */
  .text-body-lg {
    font-size: var(--text-body-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-150);
  }
  .text-body-bold-lg {
    font-size: var(--text-body-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }
  .text-body-md {
    font-size: var(--text-body-md);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-150);
  }
  .text-body-bold-md {
    font-size: var(--text-body-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }
  .text-body-sm {
    font-size: var(--text-body-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-150);
  }
  .text-body-bold-sm {
    font-size: var(--text-body-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }
  .text-body-xs {
    font-size: var(--text-body-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-150);
  }
  .text-body-bold-xs {
    font-size: var(--text-body-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-150);
  }

  /* Caption */
  .text-caption-lg {
    font-size: var(--text-caption-lg);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-150);
  }
  .text-caption-md {
    font-size: var(--text-caption-md);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-150);
  }
  .text-caption-sm {
    font-size: var(--text-caption-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-150);
  }
  .text-caption-xs {
    font-size: var(--text-caption-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-150);
  }

  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
